/* line 1, ../../../app/stylesheets/partials/_layout.sass */
body {
  background: #cfcfcf;
  width: 100%;
  margin: 0px;
  position: relative;
}

/* line 7, ../../../app/stylesheets/partials/_layout.sass */
a, input {
  outline: none;
}

/* line 10, ../../../app/stylesheets/partials/_layout.sass */
#header, #content {
  min-width: 960px;
}

/* line 15, ../../../app/stylesheets/partials/_layout.sass */
#header {
  color: #b8d8f2;
  background: #405880;
  background: -webkit-gradient(linear, left top, left bottom, from(#648eaf), to(#405880));
  background: -moz-linear-gradient(center top, #648eaf 0%, #405880 100%);
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header {
  display: block;
}
/* line 20, ../../../app/stylesheets/partials/_layout.sass */
#header h1 {
  color: #b8d8f2;
  float: left;
  font-weight: normal;
  margin-top: 26px;
  padding-bottom: 12px;
  text-shadow: #223a62 2px 2px 2px;
}
/* line 27, ../../../app/stylesheets/partials/_layout.sass */
#header h1 strong {
  color: #fff;
}
/* line 29, ../../../app/stylesheets/partials/_layout.sass */
#header .pad {
  padding: 0px 20px;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header .pad {
  display: block;
}

/* line 33, ../../../app/stylesheets/partials/_layout.sass */
#menus {
  float: right;
}
/* line 35, ../../../app/stylesheets/partials/_layout.sass */
#menus p {
  padding-bottom: 10px;
  text-align: right;
  text-shadow: #223a62 1px 1px 1px;
}
/* line 39, ../../../app/stylesheets/partials/_layout.sass */
#menus p a {
  color: #ffc400;
}
/* line 41, ../../../app/stylesheets/partials/_layout.sass */
#menus p a:hover {
  color: #fff;
}

/* line 44, ../../../app/stylesheets/partials/_layout.sass */
ul#navigation {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  padding: 4px 12px 0px 12px;
  margin-right: -12px;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
ul#navigation {
  display: block;
}
/* line 50, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 40, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li.first {
  padding-left: 0px;
}
/* line 42, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li.last {
  padding-right: 0px;
}
/* line 39, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li {
  margin-left: 5px;
  padding: 0;
}
/* line 42, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li.first {
  margin-left: 0;
}
/* line 44, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li a {
  display: block;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
/* line 48, ../../../app/stylesheets/partials/_layout.sass */
ul#navigation a {
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #213340 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #213340 1px 1px 5px;
  /* CSS3 */
  box-shadow: #213340 1px 1px 5px;
  color: #fff;
  font-size: 14px;
  background: #648eaf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7cb3de), color-stop(0.17, #648eaf), color-stop(1, #516b8c) );
  background: -moz-linear-gradient(top, #7cb3de 0%, #648eaf 17%,  #516b8c 100%);
  text-align: center;
  text-decoration: none;
  padding: 8px 18px;
  text-shadow: black 0px 1px 1px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation a:hover {
  background: #78a2c3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90c7f2), color-stop(0.14, #78a2c3), color-stop(1, #657fa0) );
  background: -moz-linear-gradient(top, #90c7f2 0%, #78a2c3 14%,  #657fa0 100%);
}
/* line 55, ../../../app/stylesheets/partials/_layout.sass */
ul#navigation a.active {
  color: #6a6a6a;
  font-weight: bold;
  background: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(0.17, #dddddd), color-stop(1, #cfcfcf) );
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 17%,  #cfcfcf 100%);
  text-align: center;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation a.active:hover {
  background: #ddddddfalse;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeeefalse), color-stop(0.14, #ddddddfalse), color-stop(1, #cfcfcffalse) );
  background: -moz-linear-gradient(top, #eeeeeefalse 0%, #ddddddfalse 14%,  #cfcfcffalse 100%);
}

/* line 64, ../../../app/stylesheets/partials/_layout.sass */
#content .pad {
  padding: 20px;
}

/* line 66, ../../../app/stylesheets/partials/_layout.sass */
div#main {
  background: #fff;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #666666 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #666666 1px 1px 5px;
  /* CSS3 */
  box-shadow: #666666 1px 1px 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  clear: none;
  float: left;
  width: 72%;
}
/* line 73, ../../../app/stylesheets/partials/_layout.sass */
div#main .pad {
  padding: 20px;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
div#main .pad {
  display: block;
}
/* line 76, ../../../app/stylesheets/partials/_layout.sass */
div#main h2.title {
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
}
/* line 79, ../../../app/stylesheets/partials/_layout.sass */
div#main h2.title a {
  float: right;
  margin-top: -8px;
  font-size: 13px;
}
/* line 83, ../../../app/stylesheets/partials/_layout.sass */
div#main h2.title a#edit {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  padding: 4px 12px;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title a#edit:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 88, ../../../app/stylesheets/partials/_layout.sass */
div#main h2.title b {
  background: #999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
  padding: 0px 3px 1px 3px;
  position: relative;
  left: -3px;
  top: -1px;
  text-shadow: #555555 0px 1px 0px;
}
/* line 100, ../../../app/stylesheets/partials/_layout.sass */
div#main h3 {
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#444444), to(white));
  background: -moz-linear-gradient(center left, #444444 0%, white 100%);
  margin-right: 2px;
  margin: 10px 0px;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 108, ../../../app/stylesheets/partials/_layout.sass */
div#main h3.toggler {
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
  text-shadow: white 0px 1px 0px;
  text-align: left;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-top: 12px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
div#main h3.toggler:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 115, ../../../app/stylesheets/partials/_layout.sass */
div#main h3.open {
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  background: #777777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(0.17, #777777), color-stop(1, #999999) );
  background: -moz-linear-gradient(top, #666666 0%, #777777 17%,  #999999 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #666;
  color: #fff;
  text-shadow: #333333 0px 1px 0px;
  text-align: left;
  margin-bottom: 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
div#main h3.open:hover {
  background: #8b8b8b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7a7a7a), color-stop(0.14, #8b8b8b), color-stop(1, #adadad) );
  background: -moz-linear-gradient(top, #7a7a7a 0%, #8b8b8b 14%,  #adadad 100%);
}
/* line 120, ../../../app/stylesheets/partials/_layout.sass */
div#main h3.open span {
  color: #555;
  text-shadow: #bbbbbb 0px 1px 0px;
}
/* line 123, ../../../app/stylesheets/partials/_layout.sass */
div#main h3 span {
  color: #999;
  font-size: 12px;
  margin-right: 5px;
}

/* line 127, ../../../app/stylesheets/partials/_layout.sass */
a#new {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
  padding: 5px 9px;
  font-size: 13px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
a#new:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 133, ../../../app/stylesheets/partials/_layout.sass */
a#new:hover b {
  background: #eee;
}

/* line 139, ../../../app/stylesheets/partials/_layout.sass */
div.item {
  border-bottom: 1px solid #ccc;
  margin-left: 0px;
  padding: 3px 0px;
  width: 100%;
  position: relative;
}

/* line 145, ../../../app/stylesheets/partials/_layout.sass */
dl.item {
  margin: 0px;
}
/* line 147, ../../../app/stylesheets/partials/_layout.sass */
dl.item dt, dl.item dd {
  clear: none;
  display: block;
  float: left;
}
/* line 151, ../../../app/stylesheets/partials/_layout.sass */
dl.item dt {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  font-size: 11px;
  margin-top: 2px;
  padding: 4px 6px 4px 0px;
  text-align: right;
  width: 12%;
}
/* line 158, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd {
  border-bottom: 1px solid #ccc;
  margin-left: 0px;
  padding: 3px 0px;
  width: 87%;
  position: relative;
}
/* line 165, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd span.item_name form {
  float: left;
  width: 85%;
}
/* line 168, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd span.item_name form input[type=submit] {
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
}
/* line 173, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd span.item_name span.actions form {
  clear: none;
  float: left;
  width: 15px;
}
/* line 177, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd input[type=checkbox] {
  width: 14px;
  margin: 3px 4px 0 7px;
}
/* line 180, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd input[type=submit]:hover {
  color: #000;
}
/* line 182, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd label {
  display: inline;
  font-size: 14px;
}
/* line 185, ../../../app/stylesheets/partials/_layout.sass */
dl.item dd span.save {
  position: absolute;
  right: 3.5em;
}

/* line 189, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions, dl.item dd span.actions {
  float: right;
  clear: none;
  display: block;
  padding-top: 3px;
  width: 3.3em;
}
/* line 195, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions a, dl.item dd span.actions a {
  padding: 0 2px;
}
/* line 197, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions a, div.item span.actions input, div.item span.actions b, dl.item dd span.actions a, dl.item dd span.actions input, dl.item dd span.actions b {
  float: left;
  display: inline;
  font-size: 12px;
}
/* line 201, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions a, div.item span.actions input, dl.item dd span.actions a, dl.item dd span.actions input {
  text-decoration: none;
}
/* line 203, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions a:hover, div.item span.actions input:hover, dl.item dd span.actions a:hover, dl.item dd span.actions input:hover {
  color: #000;
}
/* line 205, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions input, div.item span.actions b, dl.item dd span.actions input, dl.item dd span.actions b {
  padding: 0px;
}
/* line 207, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions input[type="submit"].delete, dl.item dd span.actions input[type="submit"].delete {
  color: #f00;
  background: transparent;
  font-size: 13px;
  margin-top: -2px;
  margin-left: -2px;
  text-shadow: white 1px 1px 1px;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: white 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: white 1px 1px 5px;
  /* CSS3 */
  box-shadow: white 1px 1px 5px;
  border: none;
}
/* line 216, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions input[type="submit"].delete:hover, dl.item dd span.actions input[type="submit"].delete:hover {
  color: #000;
}
/* line 218, ../../../app/stylesheets/partials/_layout.sass */
div.item span.actions b.divider, dl.item dd span.actions b.divider {
  color: #ccc;
  padding: 0px 2px 0px 2px;
}

/* line 225, ../../../app/stylesheets/partials/_layout.sass */
#sidebar {
  clear: none;
  float: left;
  width: 26%;
  padding-left: 2%;
}
/* line 230, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#sidebar .box {
  display: block;
}
/* line 232, ../../../app/stylesheets/partials/_layout.sass */
#sidebar h3 {
  margin: 0px;
}
/* line 234, ../../../app/stylesheets/partials/_layout.sass */
#sidebar ul.filters {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
/* line 5, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#sidebar ul.filters {
  display: block;
}
/* line 50, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#sidebar ul.filters li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 40, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#sidebar ul.filters li.first {
  padding-left: 0px;
}
/* line 42, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#sidebar ul.filters li.last {
  padding-right: 0px;
}
/* line 70, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters li {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  font-size: 12px;
  width: 33%;
}
/* line 77, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters li.first a {
  border-top-left-radius: 14px;
  -moz-border-radius-topleft: 14px;
  -webkit-border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  -moz-border-radius-bottomleft: 14px;
  -webkit-border-bottom-left-radius: 14px;
}
/* line 79, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters li.last a {
  border-top-right-radius: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  -moz-border-radius-bottomright: 14px;
  -webkit-border-bottom-right-radius: 14px;
}
/* line 81, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters a, #sidebar ul.filters input {
  display: block;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
  padding: 5px 0px;
  width: 100%;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters a:hover, #sidebar ul.filters input:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 86, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters a.active, #sidebar ul.filters input.active {
  background: #777777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(0.17, #777777), color-stop(1, #999999) );
  background: -moz-linear-gradient(top, #666666 0%, #777777 17%,  #999999 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #666;
  color: #fff;
  text-shadow: #333333 0px 1px 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
#sidebar ul.filters a.active:hover, #sidebar ul.filters input.active:hover {
  background: #8b8b8b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7a7a7a), color-stop(0.14, #8b8b8b), color-stop(1, #adadad) );
  background: -moz-linear-gradient(top, #7a7a7a 0%, #8b8b8b 14%,  #adadad 100%);
}
/* line 238, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 12px;
}
/* line 241, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box.gold {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #c0c0b1;
  background: #f2f2e3;
  margin-bottom: 20px;
}
/* line 246, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box.ice {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #97b8bd;
  background: #c9eaef;
}
/* line 251, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box#recent_items ul {
  color: #6f9095;
}
/* line 253, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box#recent_items ul li {
  padding: 0px 0px 5px 0px;
}
/* line 255, ../../../app/stylesheets/partials/_layout.sass */
#sidebar .box#recent_items ul span {
  display: block;
  float: left;
  font-size: 12px;
  padding-right: 6px;
  text-align: right;
  width: 50px;
}

/* line 265, ../../../app/stylesheets/partials/_layout.sass */
.inline-add {
  font-size: 14px;
  padding-top: 27px;
  padding-left: 15px;
  display: block;
  float: left;
}

/* line 274, ../../../app/stylesheets/partials/_layout.sass */
span.rating {
  font-size: 13px;
  padding-top: 4px;
  width: 7%;
}
/* line 278, ../../../app/stylesheets/partials/_layout.sass */
span.rating span.on {
  color: #666;
}
/* line 280, ../../../app/stylesheets/partials/_layout.sass */
span.rating span.off {
  color: #ccc;
}

/* line 285, ../../../app/stylesheets/partials/_layout.sass */
.activities {
  font-size: 13px;
}
/* line 287, ../../../app/stylesheets/partials/_layout.sass */
.activities .item {
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}
/* line 290, ../../../app/stylesheets/partials/_layout.sass */
.activities .item a {
  font-weight: bold;
}

/* line 292, ../../../app/stylesheets/partials/_layout.sass */
span.icon {
  color: #777;
  font-size: 16px;
  padding: 0px 5px;
}

/* line 296, ../../../app/stylesheets/partials/_layout.sass */
small.timestamp {
  color: #888;
  font-style: italic;
  float: right;
  margin-top: 4px;
}

/* line 1, ../../../app/stylesheets/partials/_typography.sass */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, strong, em, div, a, table {
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, sans-serif;
}

/* line 4, ../../../app/stylesheets/partials/_typography.sass */
h1 {
  font-size: 24px;
}

/* line 6, ../../../app/stylesheets/partials/_typography.sass */
h2 {
  font-size: 20px;
  margin-top: 0px;
}

/* line 9, ../../../app/stylesheets/partials/_typography.sass */
h3 {
  font-size: 16px;
}

/* line 14, ../../../app/stylesheets/partials/_typography.sass */
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline {
  border-bottom: 2px solid #ddd;
}
/* line 16, ../../../app/stylesheets/partials/_typography.sass */
h1.grad, h2.grad, h3.grad, h4.grad, h5.grad {
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  color: #fff;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(black), to(white));
  background: -moz-linear-gradient(center left, black 0%, white 100%);
  padding: 3px 8px;
}

/* line 23, ../../../app/stylesheets/partials/_typography.sass */
h4 {
  font-size: 14px;
}

/* line 25, ../../../app/stylesheets/partials/_typography.sass */
p, ol, ul, table {
  font-size: 13px;
}

/* line 28, ../../../app/stylesheets/partials/_typography.sass */
.right {
  text-align: right;
}

/* line 31, ../../../app/stylesheets/partials/_typography.sass */
ul.square {
  padding-left: 15px;
  list-style-type: square;
}

/* line 35, ../../../app/stylesheets/partials/_typography.sass */
ul.plain {
  padding-left: 15px;
  list-style-type: none;
}

/* line 39, ../../../app/stylesheets/partials/_typography.sass */
a {
  color: #0073b1;
}
/* line 41, ../../../app/stylesheets/partials/_typography.sass */
a:hover {
  color: #000;
}

/* line 43, ../../../app/stylesheets/partials/_typography.sass */
small.acted {
  color: #777;
  font-style: italic;
}

/* line 4, ../../../app/stylesheets/partials/_forms.sass */
fieldset {
  border: 1px solid #CFCFB7;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0;
  background: #d3d0c4;
  background: -webkit-gradient(linear, left top, left bottom, from(#efeee1), to(#d3d0c4));
  background: -moz-linear-gradient(center top, #efeee1 0%, #d3d0c4 100%);
  padding: 20px 20px 10px 20px;
}
/* line 12, ../../../app/stylesheets/partials/_forms.sass */
fieldset div.a div {
  padding-left: 0px;
  padding-right: 10px;
}
/* line 17, ../../../app/stylesheets/partials/_forms.sass */
fieldset div.z div {
  padding-left: 10px;
  padding-right: 0px;
}
/* line 21, ../../../app/stylesheets/partials/_forms.sass */
fieldset div.z div select {
  width: 100%;
}
/* line 24, ../../../app/stylesheets/partials/_forms.sass */
fieldset div.\31 00 div {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 28, ../../../app/stylesheets/partials/_forms.sass */
fieldset div {
  padding: 0px;
}
/* line 30, ../../../app/stylesheets/partials/_forms.sass */
fieldset div div {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

/* line 35, ../../../app/stylesheets/partials/_forms.sass */
.toggle fieldset {
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
}

/* line 40, ../../../app/stylesheets/partials/_forms.sass */
label {
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #776D47;
  text-shadow: white 0px 1px 0px;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
label abbr {
  border: none;
  color: #f00;
  display: block;
  float: left;
  width: 7px;
}

/* line 54, ../../../app/stylesheets/partials/_forms.sass */
body.index label {
  color: #000;
}

/* line 59, ../../../app/stylesheets/partials/_forms.sass */
input, textarea, select {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

/* line 67, ../../../app/stylesheets/partials/_forms.sass */
input, textarea {
  -webkit-box-shadow: inset 1px 1px 4px #dddddd;
  -moz-box-shadow: 1px 1px 4px #dddddd inset;
  padding: 5px 0px;
  text-indent: 5px;
}

/* line 71, ../../../app/stylesheets/partials/_forms.sass */
select {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14px;
  -webkit-box-shadow: inset -1px -1px 4px #bbb6a6;
  -moz-box-shadow: -1px -1px 4px #bbb6a6 inset;
  padding: 5px;
}

/* line 76, ../../../app/stylesheets/partials/_forms.sass */
.checks, .boolean, .radio {
  float: left;
}
/* line 78, ../../../app/stylesheets/partials/_forms.sass */
.checks input, .boolean input, .radio input {
  width: 13px;
}
/* line 80, ../../../app/stylesheets/partials/_forms.sass */
.checks input, .checks label, .boolean input, .boolean label, .radio input, .radio label {
  display: inline;
}
/* line 82, ../../../app/stylesheets/partials/_forms.sass */
.checks label, .boolean label, .radio label {
  margin-right: 12px;
}
/* line 84, ../../../app/stylesheets/partials/_forms.sass */
.checks label.block, .boolean label.block, .radio label.block {
  display: block;
}

/* line 87, ../../../app/stylesheets/partials/_forms.sass */
ul.checks, ul.radio, ul.boolean {
  list-style-type: none;
}
/* line 89, ../../../app/stylesheets/partials/_forms.sass */
ul.checks.stacked, ul.radio.stacked, ul.boolean.stacked {
  padding-left: 0px;
  margin-left: 0px;
}
/* line 8, ../../../vendor/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
ul.checks.stacked li, ul.radio.stacked li, ul.boolean.stacked li {
  list-style-type: none;
  margin-left: 0px;
}

/* line 97, ../../../app/stylesheets/partials/_forms.sass */
.act {
  font-size: 13px;
}
/* line 99, ../../../app/stylesheets/partials/_forms.sass */
.act.pad {
  padding: 20px 0px 0px 0px;
}
/* line 101, ../../../app/stylesheets/partials/_forms.sass */
.act input[type="submit"] {
  font-size: 14px;
}

/* line 103, ../../../app/stylesheets/partials/_forms.sass */
input[type="submit"] {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border: 1px solid #d36f12;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #999999 0px 1px 3px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #999999 0px 1px 3px;
  /* CSS3 */
  box-shadow: #999999 0px 1px 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 12px;
  background: #ff8800;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffae35), color-stop(0.17, #ff8800), color-stop(1, #d36f12) );
  background: -moz-linear-gradient(top, #ffae35 0%, #ff8800 17%,  #d36f12 100%);
  text-align: center;
  text-decoration: none;
  text-shadow: #b55100 2px 2px 2px;
  width: auto;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
input[type="submit"]:hover {
  background: #ff9c14;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffc249), color-stop(0.14, #ff9c14), color-stop(1, #e78326) );
  background: -moz-linear-gradient(top, #ffc249 0%, #ff9c14 14%,  #e78326 100%);
}

/* line 118, ../../../app/stylesheets/partials/_forms.sass */
fieldset .fieldWithErrors {
  margin: 0px;
  width: 100%;
}
/* line 121, ../../../app/stylesheets/partials/_forms.sass */
fieldset .fieldWithErrors input, fieldset .fieldWithErrors textarea {
  background-color: #fcc;
  -webkit-box-shadow: inset 1px 1px 4px #ddaaaa;
  -moz-box-shadow: 1px 1px 4px #ddaaaa inset;
  border-color: #f00;
}

/* line 125, ../../../app/stylesheets/partials/_forms.sass */
span.error {
  font-size: 13px;
  color: #f00;
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: bold;
}

/* line 133, ../../../app/stylesheets/partials/_forms.sass */
.clear {
  clear: both;
}

/* line 139, ../../../app/stylesheets/partials/_forms.sass */
.flash {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #aaaaaa 2px 2px 2px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #aaaaaa 2px 2px 2px;
  /* CSS3 */
  box-shadow: #aaaaaa 2px 2px 2px;
  text-shadow: black 1px 1px 2px;
  text-align: center;
}
/* line 146, ../../../app/stylesheets/partials/_forms.sass */
.flash#notice {
  color: #fff;
  background: #25b023;
  background: -webkit-gradient(linear, left top, left bottom, from(#42cb7c), to(#25b023));
  background: -moz-linear-gradient(center top, #42cb7c 0%, #25b023 100%);
}

/* line 164, ../../../app/stylesheets/partials/_forms.sass */
.\31 00 {
  width: 100%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\31 00.boolean, .\31 00.check, .\31 00.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\31 00.boolean input, .\31 00.check input, .\31 00.radio input, .\31 00 .boolean input, .\31 00 .check input, .\31 00 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\31 00.boolean input, .\31 00.boolean label, .\31 00.check input, .\31 00.check label, .\31 00.radio input, .\31 00.radio label, .\31 00 .boolean input, .\31 00 .boolean label, .\31 00 .check input, .\31 00 .check label, .\31 00 .radio input, .\31 00 .radio label {
  display: inline;
}

/* line 166, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 {
  float: left;
  width: 90%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean, .\38 0.check, .\38 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean input, .\38 0.check input, .\38 0.radio input, .\38 0 .boolean input, .\38 0 .check input, .\38 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean input, .\38 0.boolean label, .\38 0.check input, .\38 0.check label, .\38 0.radio input, .\38 0.radio label, .\38 0 .boolean input, .\38 0 .boolean label, .\38 0 .check input, .\38 0 .check label, .\38 0 .radio input, .\38 0 .radio label {
  display: inline;
}

/* line 168, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 {
  float: left;
  width: 80%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean, .\38 0.check, .\38 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean input, .\38 0.check input, .\38 0.radio input, .\38 0 .boolean input, .\38 0 .check input, .\38 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.boolean input, .\38 0.boolean label, .\38 0.check input, .\38 0.check label, .\38 0.radio input, .\38 0.radio label, .\38 0 .boolean input, .\38 0 .boolean label, .\38 0 .check input, .\38 0 .check label, .\38 0 .radio input, .\38 0 .radio label {
  display: inline;
}

/* line 170, ../../../app/stylesheets/partials/_forms.sass */
.\37 5 {
  float: left;
  width: 75%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\37 5.boolean, .\37 5.check, .\37 5.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\37 5.boolean input, .\37 5.check input, .\37 5.radio input, .\37 5 .boolean input, .\37 5 .check input, .\37 5 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\37 5.boolean input, .\37 5.boolean label, .\37 5.check input, .\37 5.check label, .\37 5.radio input, .\37 5.radio label, .\37 5 .boolean input, .\37 5 .boolean label, .\37 5 .check input, .\37 5 .check label, .\37 5 .radio input, .\37 5 .radio label {
  display: inline;
}

/* line 172, ../../../app/stylesheets/partials/_forms.sass */
.\37 0 {
  float: left;
  width: 70%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\37 0.boolean, .\37 0.check, .\37 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\37 0.boolean input, .\37 0.check input, .\37 0.radio input, .\37 0 .boolean input, .\37 0 .check input, .\37 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\37 0.boolean input, .\37 0.boolean label, .\37 0.check input, .\37 0.check label, .\37 0.radio input, .\37 0.radio label, .\37 0 .boolean input, .\37 0 .boolean label, .\37 0 .check input, .\37 0 .check label, .\37 0 .radio input, .\37 0 .radio label {
  display: inline;
}

/* line 174, ../../../app/stylesheets/partials/_forms.sass */
.\36 6 {
  float: left;
  width: 66.66%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\36 6.boolean, .\36 6.check, .\36 6.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\36 6.boolean input, .\36 6.check input, .\36 6.radio input, .\36 6 .boolean input, .\36 6 .check input, .\36 6 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\36 6.boolean input, .\36 6.boolean label, .\36 6.check input, .\36 6.check label, .\36 6.radio input, .\36 6.radio label, .\36 6 .boolean input, .\36 6 .boolean label, .\36 6 .check input, .\36 6 .check label, .\36 6 .radio input, .\36 6 .radio label {
  display: inline;
}

/* line 176, ../../../app/stylesheets/partials/_forms.sass */
.\36 0 {
  float: left;
  width: 60%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\36 0.boolean, .\36 0.check, .\36 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\36 0.boolean input, .\36 0.check input, .\36 0.radio input, .\36 0 .boolean input, .\36 0 .check input, .\36 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\36 0.boolean input, .\36 0.boolean label, .\36 0.check input, .\36 0.check label, .\36 0.radio input, .\36 0.radio label, .\36 0 .boolean input, .\36 0 .boolean label, .\36 0 .check input, .\36 0 .check label, .\36 0 .radio input, .\36 0 .radio label {
  display: inline;
}

/* line 178, ../../../app/stylesheets/partials/_forms.sass */
.\35 0 {
  float: left;
  width: 50%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\35 0.boolean, .\35 0.check, .\35 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\35 0.boolean input, .\35 0.check input, .\35 0.radio input, .\35 0 .boolean input, .\35 0 .check input, .\35 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\35 0.boolean input, .\35 0.boolean label, .\35 0.check input, .\35 0.check label, .\35 0.radio input, .\35 0.radio label, .\35 0 .boolean input, .\35 0 .boolean label, .\35 0 .check input, .\35 0 .check label, .\35 0 .radio input, .\35 0 .radio label {
  display: inline;
}

/* line 180, ../../../app/stylesheets/partials/_forms.sass */
.\34 0 {
  float: left;
  width: 40%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\34 0.boolean, .\34 0.check, .\34 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\34 0.boolean input, .\34 0.check input, .\34 0.radio input, .\34 0 .boolean input, .\34 0 .check input, .\34 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\34 0.boolean input, .\34 0.boolean label, .\34 0.check input, .\34 0.check label, .\34 0.radio input, .\34 0.radio label, .\34 0 .boolean input, .\34 0 .boolean label, .\34 0 .check input, .\34 0 .check label, .\34 0 .radio input, .\34 0 .radio label {
  display: inline;
}

/* line 182, ../../../app/stylesheets/partials/_forms.sass */
.\33 5 {
  float: left;
  width: 35%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\33 5.boolean, .\33 5.check, .\33 5.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\33 5.boolean input, .\33 5.check input, .\33 5.radio input, .\33 5 .boolean input, .\33 5 .check input, .\33 5 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\33 5.boolean input, .\33 5.boolean label, .\33 5.check input, .\33 5.check label, .\33 5.radio input, .\33 5.radio label, .\33 5 .boolean input, .\33 5 .boolean label, .\33 5 .check input, .\33 5 .check label, .\33 5 .radio input, .\33 5 .radio label {
  display: inline;
}

/* line 184, ../../../app/stylesheets/partials/_forms.sass */
.\33 3 {
  float: left;
  width: 33.33%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\33 3.boolean, .\33 3.check, .\33 3.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\33 3.boolean input, .\33 3.check input, .\33 3.radio input, .\33 3 .boolean input, .\33 3 .check input, .\33 3 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\33 3.boolean input, .\33 3.boolean label, .\33 3.check input, .\33 3.check label, .\33 3.radio input, .\33 3.radio label, .\33 3 .boolean input, .\33 3 .boolean label, .\33 3 .check input, .\33 3 .check label, .\33 3 .radio input, .\33 3 .radio label {
  display: inline;
}

/* line 186, ../../../app/stylesheets/partials/_forms.sass */
.\33 0 {
  float: left;
  width: 30%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\33 0.boolean, .\33 0.check, .\33 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\33 0.boolean input, .\33 0.check input, .\33 0.radio input, .\33 0 .boolean input, .\33 0 .check input, .\33 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\33 0.boolean input, .\33 0.boolean label, .\33 0.check input, .\33 0.check label, .\33 0.radio input, .\33 0.radio label, .\33 0 .boolean input, .\33 0 .boolean label, .\33 0 .check input, .\33 0 .check label, .\33 0 .radio input, .\33 0 .radio label {
  display: inline;
}

/* line 188, ../../../app/stylesheets/partials/_forms.sass */
.\32 5 {
  float: left;
  width: 25%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\32 5.boolean, .\32 5.check, .\32 5.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\32 5.boolean input, .\32 5.check input, .\32 5.radio input, .\32 5 .boolean input, .\32 5 .check input, .\32 5 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\32 5.boolean input, .\32 5.boolean label, .\32 5.check input, .\32 5.check label, .\32 5.radio input, .\32 5.radio label, .\32 5 .boolean input, .\32 5 .boolean label, .\32 5 .check input, .\32 5 .check label, .\32 5 .radio input, .\32 5 .radio label {
  display: inline;
}

/* line 190, ../../../app/stylesheets/partials/_forms.sass */
.\32 0 {
  float: left;
  width: 20%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\32 0.boolean, .\32 0.check, .\32 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\32 0.boolean input, .\32 0.check input, .\32 0.radio input, .\32 0 .boolean input, .\32 0 .check input, .\32 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\32 0.boolean input, .\32 0.boolean label, .\32 0.check input, .\32 0.check label, .\32 0.radio input, .\32 0.radio label, .\32 0 .boolean input, .\32 0 .boolean label, .\32 0 .check input, .\32 0 .check label, .\32 0 .radio input, .\32 0 .radio label {
  display: inline;
}

/* line 192, ../../../app/stylesheets/partials/_forms.sass */
.\31 6 {
  float: left;
  width: 16.66%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\31 6.boolean, .\31 6.check, .\31 6.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\31 6.boolean input, .\31 6.check input, .\31 6.radio input, .\31 6 .boolean input, .\31 6 .check input, .\31 6 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\31 6.boolean input, .\31 6.boolean label, .\31 6.check input, .\31 6.check label, .\31 6.radio input, .\31 6.radio label, .\31 6 .boolean input, .\31 6 .boolean label, .\31 6 .check input, .\31 6 .check label, .\31 6 .radio input, .\31 6 .radio label {
  display: inline;
}

/* line 194, ../../../app/stylesheets/partials/_forms.sass */
.\31 5 {
  float: left;
  width: 15%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\31 5.boolean, .\31 5.check, .\31 5.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\31 5.boolean input, .\31 5.check input, .\31 5.radio input, .\31 5 .boolean input, .\31 5 .check input, .\31 5 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\31 5.boolean input, .\31 5.boolean label, .\31 5.check input, .\31 5.check label, .\31 5.radio input, .\31 5.radio label, .\31 5 .boolean input, .\31 5 .boolean label, .\31 5 .check input, .\31 5 .check label, .\31 5 .radio input, .\31 5 .radio label {
  display: inline;
}

/* line 196, ../../../app/stylesheets/partials/_forms.sass */
.\31 0 {
  float: left;
  width: 10%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\31 0.boolean, .\31 0.check, .\31 0.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\31 0.boolean input, .\31 0.check input, .\31 0.radio input, .\31 0 .boolean input, .\31 0 .check input, .\31 0 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\31 0.boolean input, .\31 0.boolean label, .\31 0.check input, .\31 0.check label, .\31 0.radio input, .\31 0.radio label, .\31 0 .boolean input, .\31 0 .boolean label, .\31 0 .check input, .\31 0 .check label, .\31 0 .radio input, .\31 0 .radio label {
  display: inline;
}

/* line 198, ../../../app/stylesheets/partials/_forms.sass */
.\35 {
  float: left;
  width: 5%;
}
/* line 157, ../../../app/stylesheets/partials/_forms.sass */
.\35.boolean, .\35.check, .\35.radio {
  padding-top: 25px;
}
/* line 160, ../../../app/stylesheets/partials/_forms.sass */
.\35.boolean input, .\35.check input, .\35.radio input, .\35 .boolean input, .\35 .check input, .\35 .radio input {
  width: 13px;
}
/* line 162, ../../../app/stylesheets/partials/_forms.sass */
.\35.boolean input, .\35.boolean label, .\35.check input, .\35.check label, .\35.radio input, .\35.radio label, .\35 .boolean input, .\35 .boolean label, .\35 .check input, .\35 .check label, .\35 .radio input, .\35 .radio label {
  display: inline;
}

/* line 2, ../../../app/stylesheets/models/_comment.sass */
.comment .quote {
  color: #c9eaef;
  font-size: 23px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 4px;
}
/* line 8, ../../../app/stylesheets/models/_comment.sass */
.comment .message {
  border: 1px solid #b5d6db;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #333;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 20px;
  background: #c9eaef;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7ffff), color-stop(0.17, #c9eaef), color-stop(1, white) );
  background: -moz-linear-gradient(top, #e7ffff 0%, #c9eaef 17%,  white 100%);
  text-align: center;
  text-decoration: none;
  cursor: default;
  text-align: left;
}

/* line 3, ../../../app/stylesheets/models/_leads.sass */
body.leads.new #main, body.leads.create #main, body.leads.edit #main, body.leads.update #main {
  width: 100%;
}

/* line 9, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead small {
  color: #777;
}
/* line 11, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead small a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
/* line 15, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead small a:hover {
  text-decoration: underline;
}
/* line 17, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead small strong {
  color: #333;
}
/* line 19, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead dd {
  width: 86%;
  padding-left: 1%;
}
/* line 22, ../../../app/stylesheets/models/_leads.sass */
dl.item.lead dd span.actions {
  padding-top: 0px;
  margin-top: 4px;
}

/* line 30, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .actions {
  clear: none;
  float: right;
  margin: 0px;
  padding: 0;
  width: 33%;
}
/* line 70, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions li {
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  font-size: 12px;
  width: 33%;
}
/* line 77, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions li.first a {
  border-top-left-radius: 14px;
  -moz-border-radius-topleft: 14px;
  -webkit-border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  -moz-border-radius-bottomleft: 14px;
  -webkit-border-bottom-left-radius: 14px;
}
/* line 79, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions li.last a {
  border-top-right-radius: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  -moz-border-radius-bottomright: 14px;
  -webkit-border-bottom-right-radius: 14px;
}
/* line 81, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions a, div#main h2.title .actions input {
  display: block;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
  padding: 5px 0px;
  width: 100%;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions a:hover, div#main h2.title .actions input:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 86, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions a.active, div#main h2.title .actions input.active {
  background: #777777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(0.17, #777777), color-stop(1, #999999) );
  background: -moz-linear-gradient(top, #666666 0%, #777777 17%,  #999999 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #666;
  color: #fff;
  text-shadow: #333333 0px 1px 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
div#main h2.title .actions a.active:hover, div#main h2.title .actions input.active:hover {
  background: #8b8b8b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7a7a7a), color-stop(0.14, #8b8b8b), color-stop(1, #adadad) );
  background: -moz-linear-gradient(top, #7a7a7a 0%, #8b8b8b 14%,  #adadad 100%);
}
/* line 38, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .actions li a {
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #999999 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #999999 1px 1px 5px;
  /* CSS3 */
  box-shadow: #999999 1px 1px 5px;
}
/* line 40, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .actions li.right {
  float: right;
}
/* line 42, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .actions form {
  clear: none;
  float: left;
  margin-top: -8px;
  width: 100%;
}
/* line 47, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .actions form input {
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-left: none;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 0px;
}
/* line 54, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .status {
  float: right;
  font-size: 13px;
  line-height: 23px;
  margin-top: -8px;
  padding: 0 16px 2px 11px;
  border-top-right-radius: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  -moz-border-radius-bottomright: 14px;
  -webkit-border-bottom-right-radius: 14px;
}
/* line 61, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .status strong {
  font-size: 22px;
}
/* line 63, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .status.converted {
  background: #BDFFBC;
  color: #070;
}
/* line 66, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .status.rejected {
  background: #fdd;
  color: #900;
}
/* line 69, ../../../app/stylesheets/models/_leads.sass */
div#main h2.title .status.rejected strong {
  position: relative;
  top: 2px;
}

/* line 76, ../../../app/stylesheets/models/_leads.sass */
h3.grad a#add_task {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: right;
  font-size: 12px;
  padding: 2px 6px;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.17, #eaeaea), color-stop(1, #cccccc) );
  background: -moz-linear-gradient(top, white 0%, #eaeaea 17%,  #cccccc 100%);
  text-align: center;
  text-decoration: none;
  border: 1px solid #999;
  color: #444;
  text-shadow: white 0px 1px 0px;
}
/* line 18, ../../../app/stylesheets/partials/_tools.sass */
h3.grad a#add_task:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.14, #fefefe), color-stop(1, #e0e0e0) );
  background: -moz-linear-gradient(top, white 0%, #fefefe 14%,  #e0e0e0 100%);
}
/* line 82, ../../../app/stylesheets/models/_leads.sass */
h3.grad a#add_task b {
  background: #999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-right: 1px;
  padding: 0px 3px 1px 3px;
  position: relative;
  left: -3px;
  top: -1px;
  text-shadow: #555555 0px 1px 0px;
}

/* line 98, ../../../app/stylesheets/models/_leads.sass */
#sidebar dl.info {
  font-size: 13px;
  clear: both;
  overflow: none;
  float: left;
  width: 100%;
}
/* line 59, ../../../app/stylesheets/partials/_tools.sass */
#sidebar dl.info dt, #sidebar dl.info dd {
  float: left;
  clear: none;
  display: block;
  margin: 0px;
}
/* line 64, ../../../app/stylesheets/partials/_tools.sass */
#sidebar dl.info dt {
  width: 25%;
}
/* line 66, ../../../app/stylesheets/partials/_tools.sass */
#sidebar dl.info dd {
  width: 70%;
}
/* line 101, ../../../app/stylesheets/models/_leads.sass */
#sidebar dl.info dt, #sidebar dl.info dd {
  padding: 4px 0px;
}
/* line 103, ../../../app/stylesheets/models/_leads.sass */
#sidebar dl.info dt {
  color: #989889;
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
}

/* line 1, ../../../app/stylesheets/models/session.sass */
.devise_links {
  font-size: 13px;
}

/* line 10, ../../../app/stylesheets/models/_task.sass */
h3.deadline {
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  color: #fff;
  padding: 5px 10px;
}
/* line 14, ../../../app/stylesheets/models/_task.sass */
h3.deadline#overdue {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(red), to(white));
  background: -moz-linear-gradient(center left, red 0%, white 100%);
}
/* line 16, ../../../app/stylesheets/models/_task.sass */
h3.deadline#due_today {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(black), to(white));
  background: -moz-linear-gradient(center left, black 0%, white 100%);
}
/* line 18, ../../../app/stylesheets/models/_task.sass */
h3.deadline#due_tomorrow {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#222222), to(white));
  background: -moz-linear-gradient(center left, #222222 0%, white 100%);
}
/* line 20, ../../../app/stylesheets/models/_task.sass */
h3.deadline#due_this_week {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#444444), to(white));
  background: -moz-linear-gradient(center left, #444444 0%, white 100%);
}
/* line 22, ../../../app/stylesheets/models/_task.sass */
h3.deadline#due_next_week {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#666666), to(white));
  background: -moz-linear-gradient(center left, #666666 0%, white 100%);
}
/* line 24, ../../../app/stylesheets/models/_task.sass */
h3.deadline#due_later {
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#888888), to(white));
  background: -moz-linear-gradient(center left, #888888 0%, white 100%);
}

/* line 27, ../../../app/stylesheets/models/_task.sass */
.item dd input[type=submit] {
  background: transparent;
  border: none;
  color: #00f;
  padding: 0;
  text-shadow: white 0px 0px 0px;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: white 0px 0px 0px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: white 0px 0px 0px;
  /* CSS3 */
  box-shadow: white 0px 0px 0px;
}

/* line 51, ../../../app/stylesheets/models/_task.sass */
dl.item.task.completed dd {
  padding-left: 10px;
  width: 85%;
}
/* line 55, ../../../app/stylesheets/models/_task.sass */
dl.item.task dd span.actions {
  width: auto;
}

/* line 60, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.call, dl.item.task dt.new, dl.item.lead dt.call, dl.item.lead dt.new {
  background: #b5e7ff;
  color: #5b8da5;
}
/* line 62, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.email, dl.item.task dt.contacted, dl.item.lead dt.email, dl.item.lead dt.contacted {
  background: #ffdeba;
  color: #a58460;
}
/* line 64, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.follow-up, dl.item.task dt.converted, dl.item.lead dt.follow-up, dl.item.lead dt.converted {
  background: #b5ffda;
  color: #5ba580;
}
/* line 66, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.lunch, dl.item.task dt.rejected, dl.item.lead dt.lunch, dl.item.lead dt.rejected {
  background: #ffd2ba;
  color: #a57860;
}
/* line 68, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.meeting, dl.item.lead dt.meeting {
  background: #f5ed9d;
  color: #9b9343;
}
/* line 70, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.money, dl.item.lead dt.money {
  background: #d1ffba;
  color: #77a560;
}
/* line 72, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.presentation, dl.item.lead dt.presentation {
  background: #dedede;
  color: #848484;
}
/* line 74, ../../../app/stylesheets/models/_task.sass */
dl.item.task dt.trip, dl.item.lead dt.trip {
  background: #dec7ff;
  color: #846da5;
}

/* line 80, ../../../app/stylesheets/models/_task.sass */
small.asset {
  font-size: 11px;
  color: #bbb;
}
/* line 83, ../../../app/stylesheets/models/_task.sass */
small.asset a {
  color: #969696;
  font-weight: bold;
  text-decoration: none;
}
/* line 87, ../../../app/stylesheets/models/_task.sass */
small.asset a:hover {
  text-decoration: underline;
}
