/* line 1, ../../../app/stylesheets/partials/_layout.sass */
body {
  background: #cfcfcf;
  width: 100%;
  margin: 0px;
  position: relative;
}

/* line 6, ../../../app/stylesheets/partials/_layout.sass */
#header, #content {
  min-width: 960px;
}

/* line 11, ../../../app/stylesheets/partials/_layout.sass */
#header {
  color: #9fbdd6;
  background: #405880;
  background: -webkit-gradient(linear, left top, left bottom, from(#648eaf), to(#405880));
  background: -moz-linear-gradient(top, #648eaf, #405880);
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header {
  display: block;
}
/* line 16, ../../../app/stylesheets/partials/_layout.sass */
#header h1 {
  color: #9fbdd6;
  float: left;
  font-weight: normal;
  margin-top: 26px;
  padding-bottom: 12px;
  text-shadow: #223a62 2px 2px 2px;
}
/* line 23, ../../../app/stylesheets/partials/_layout.sass */
#header h1 strong {
  color: #fff;
}
/* line 25, ../../../app/stylesheets/partials/_layout.sass */
#header .pad {
  padding: 0px 20px;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header .pad {
  display: block;
}

/* line 29, ../../../app/stylesheets/partials/_layout.sass */
#menus {
  float: right;
}
/* line 31, ../../../app/stylesheets/partials/_layout.sass */
#menus p {
  text-align: right;
  padding-bottom: 10px;
}

/* line 35, ../../../app/stylesheets/partials/_layout.sass */
ul#navigation {
  margin-right: -12px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  padding: 4px 12px 0px 12px;
}
/* line 5, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
ul#navigation {
  display: block;
}
/* line 50, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 40, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li.first {
  padding-left: 0px;
}
/* line 42, ../../../../../../.rvm/gems/ree-1.8.7-2010.01/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
ul#navigation li.last {
  padding-right: 0px;
}
/* line 24, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li {
  margin-left: 5px;
  padding: 0;
}
/* line 27, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li.first {
  margin-left: 0;
}
/* line 29, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation li a {
  display: block;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  text-align: center;
  text-decoration: none;
}
/* line 40, ../../../app/stylesheets/partials/_layout.sass */
ul#navigation a {
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #213340 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #213340 1px 1px 5px;
  /* CSS3 */
  box-shadow: #213340 1px 1px 5px;
  color: #fff;
  background: #648eaf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75a7d0), color-stop(0.87, #648eaf), color-stop(1, #516b8c) );
  background: -moz-linear-gradient(top, #75a7d0 0%, #648eaf 14%,  #516b8c 100%);
  padding: 8px 18px;
  text-shadow: black 0px 1px 1px;
}
/* line 16, ../../../app/stylesheets/partials/_tools.sass */
ul#navigation a:hover {
  background: #78a2c3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #89bbe4), color-stop(0.87, #78a2c3), color-stop(1, #657fa0) );
  background: -moz-linear-gradient(top, #89bbe4 0%, #78a2c3 14%,  #657fa0 100%);
}

/* line 51, ../../../app/stylesheets/partials/_layout.sass */
#content .pad {
  padding: 20px;
}

/* line 53, ../../../app/stylesheets/partials/_layout.sass */
div#main {
  background: #fff;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #666666 1px 1px 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #666666 1px 1px 5px;
  /* CSS3 */
  box-shadow: #666666 1px 1px 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 72%;
}
/* line 58, ../../../app/stylesheets/partials/_layout.sass */
div#main .pad {
  padding: 20px;
}

/* line 1, ../../../app/stylesheets/partials/_typography.sass */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, strong, em, div, a, table {
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, sans-serif;
}

/* line 4, ../../../app/stylesheets/partials/_typography.sass */
h1 {
  font-size: 24px;
}

/* line 6, ../../../app/stylesheets/partials/_typography.sass */
h2 {
  font-size: 20px;
}

/* line 8, ../../../app/stylesheets/partials/_typography.sass */
h3 {
  font-size: 16px;
}

/* line 10, ../../../app/stylesheets/partials/_typography.sass */
h4 {
  font-size: 14px;
}

/* line 12, ../../../app/stylesheets/partials/_typography.sass */
p, ol, ul, table {
  font-size: 13px;
}

/* line 4, ../../../app/stylesheets/partials/_forms.sass */
fieldset {
  border: none;
}

/* line 6, ../../../app/stylesheets/partials/_forms.sass */
label {
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 12, ../../../app/stylesheets/partials/_forms.sass */
label abbr {
  border: none;
  color: #f00;
  display: block;
  float: left;
  width: 7px;
}

/* line 18, ../../../app/stylesheets/partials/_forms.sass */
input, textarea {
  border: 1px solid #aaa;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 16px;
  -webkit-box-shadow: inset 1px 1px 4px #dddddd;
  -moz-box-shadow: 1px 1px 4px #dddddd inset;
  padding: 5px;
  width: 100%;
}

/* line 25, ../../../app/stylesheets/partials/_forms.sass */
input[type="submit"] {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border: 1px solid #d36f12;
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: #999999 0px 1px 3px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: #999999 0px 1px 3px;
  /* CSS3 */
  box-shadow: #999999 0px 1px 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 12px;
  background: #ff8800;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffae35), color-stop(0.87, #ff8800), color-stop(1, #d36f12) );
  background: -moz-linear-gradient(top, #ffae35 0%, #ff8800 14%,  #d36f12 100%);
  text-shadow: #b55100 2px 2px 2px;
  width: auto;
}
/* line 16, ../../../app/stylesheets/partials/_tools.sass */
input[type="submit"]:hover {
  background: #ff9c14;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffc249), color-stop(0.87, #ff9c14), color-stop(1, #e78326) );
  background: -moz-linear-gradient(top, #ffc249 0%, #ff9c14 14%,  #e78326 100%);
}

/* line 50, ../../../app/stylesheets/partials/_forms.sass */
fieldset {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  background: #d3d0c4;
  background: -webkit-gradient(linear, left top, left bottom, from(#efeee1), to(#d3d0c4));
  background: -moz-linear-gradient(top, #efeee1, #d3d0c4);
  padding: 20px 24px 20px 20px;
}
/* line 55, ../../../app/stylesheets/partials/_forms.sass */
fieldset div {
  clear: none;
  float: left;
  margin: 0 0 12px 0;
}
/* line 59, ../../../app/stylesheets/partials/_forms.sass */
fieldset div.last {
  padding-right: 0;
}

/* line 61, ../../../app/stylesheets/partials/_forms.sass */
.\31 00 {
  width: 100%;
  padding-right: 0;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\31 00.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\31 00 input, .\31 00 textarea {
  width: 98.8%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\31 00 select {
  width: 100.8%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\31 00 span.error {
  width: 101.8%;
}

/* line 63, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 {
  width: 79.3%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\38 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 input, .\38 0 textarea {
  width: 98.5%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 select {
  width: 100.5%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\38 0 span.error {
  width: 101.5%;
}

/* line 65, ../../../app/stylesheets/partials/_forms.sass */
.\37 5 {
  width: 74.1%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\37 5.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\37 5 input, .\37 5 textarea {
  width: 98.4%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\37 5 select {
  width: 100.4%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\37 5 span.error {
  width: 101.4%;
}

/* line 67, ../../../app/stylesheets/partials/_forms.sass */
.\37 0 {
  width: 68.9%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\37 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\37 0 input, .\37 0 textarea {
  width: 98.2%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\37 0 select {
  width: 100.2%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\37 0 span.error {
  width: 101.2%;
}

/* line 69, ../../../app/stylesheets/partials/_forms.sass */
.\36 6 {
  width: 65.5%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\36 6.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\36 6 input, .\36 6 textarea {
  width: 98.2%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\36 6 select {
  width: 100.2%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\36 6 span.error {
  width: 101.2%;
}

/* line 71, ../../../app/stylesheets/partials/_forms.sass */
.\36 0 {
  width: 58.6%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\36 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\36 0 input, .\36 0 textarea {
  width: 98%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\36 0 select {
  width: 100%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\36 0 span.error {
  width: 101%;
}

/* line 73, ../../../app/stylesheets/partials/_forms.sass */
.\35 0 {
  width: 48.2%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\35 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\35 0 input, .\35 0 textarea {
  width: 97.7%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\35 0 select {
  width: 99.7%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\35 0 span.error {
  width: 100.7%;
}

/* line 75, ../../../app/stylesheets/partials/_forms.sass */
.\34 0 {
  width: 37.8%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\34 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\34 0 input, .\34 0 textarea {
  width: 96.7%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\34 0 select {
  width: 98.7%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\34 0 span.error {
  width: 99.7%;
}

/* line 77, ../../../app/stylesheets/partials/_forms.sass */
.\33 3 {
  width: 30.9%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\33 3.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\33 3 input, .\33 3 textarea {
  width: 96.6%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\33 3 select {
  width: 98.6%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\33 3 span.error {
  width: 99.6%;
}

/* line 79, ../../../app/stylesheets/partials/_forms.sass */
.\33 0 {
  width: 27.5%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\33 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\33 0 input, .\33 0 textarea {
  width: 95.7%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\33 0 select {
  width: 97.7%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\33 0 span.error {
  width: 98.7%;
}

/* line 81, ../../../app/stylesheets/partials/_forms.sass */
.\32 5 {
  width: 22.3%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\32 5.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\32 5 input, .\32 5 textarea {
  width: 94.7%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\32 5 select {
  width: 96.7%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\32 5 span.error {
  width: 97.7%;
}

/* line 84, ../../../app/stylesheets/partials/_forms.sass */
.\32 0 {
  width: 17.1%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\32 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\32 0 input, .\32 0 textarea {
  width: 93%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\32 0 select {
  width: 95%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\32 0 span.error {
  width: 96%;
}

/* line 86, ../../../app/stylesheets/partials/_forms.sass */
.\31 0 {
  width: 6.76%;
  padding-right: 3.6%;
}
/* line 42, ../../../app/stylesheets/partials/_forms.sass */
.\31 0.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/partials/_forms.sass */
.\31 0 input, .\31 0 textarea {
  width: 82%;
}
/* line 46, ../../../app/stylesheets/partials/_forms.sass */
.\31 0 select {
  width: 84%;
}
/* line 48, ../../../app/stylesheets/partials/_forms.sass */
.\31 0 span.error {
  width: 85%;
}

/* line 89, ../../../app/stylesheets/partials/_forms.sass */
#ruler {
  width: 100px;
  height: 1200px;
  position: absolute;
  left: 68.6%;
  top: 0em;
  background: #f00;
}

/* line 99, ../../../app/stylesheets/partials/_forms.sass */
fieldset .fieldWithErrors {
  margin: 0px;
  width: 100%;
}
/* line 102, ../../../app/stylesheets/partials/_forms.sass */
fieldset .fieldWithErrors input, fieldset .fieldWithErrors textarea {
  background-color: #fcc;
  -webkit-box-shadow: inset 1px 1px 4px #ddaaaa;
  -moz-box-shadow: 1px 1px 4px #ddaaaa inset;
  border-color: #f00;
}

/* line 106, ../../../app/stylesheets/partials/_forms.sass */
span.error {
  font-size: 13px;
  color: #f00;
  display: block;
  clear: both;
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: bold;
}

/* line 114, ../../../app/stylesheets/partials/_forms.sass */
.clear {
  clear: both;
}
