.comment
  = link_to comment.user.email, comment.user
  = t('created_ago', :time => time_ago_in_words(comment.created_at))
  = comment.text
  .attachments
    - comment.attachments.each do |attachment|
      = link_to attachment.attachment_filename, attachment
