dl.item.lead
  span.rating
    :font-size 13px
    :padding-top 4px
    :width 7%
    span.on,span.off
      :margin -1px
    span.on
      :color #666
    span.off
      :color #ccc
  small
    :color #777
    a
      :color #333
      :font-weight bold
      :text-decoration none
      &:hover
        :text-decoration underline
    strong
      :color #333
  dd
    :width 86%
    :padding-left 1%
    span.actions
      :padding-top 0px
      :margin-top 4px