%fieldset
  .100= form.input :name
  .33.a= form.input :assignee_id, :collection => User.all.map {|u| [u.email,u.id] }
  = render :partial => 'shared/permissions_form', :locals => { :form => form, :p1 => '33', :p2 => '33 z' }